.calendarActive, .calendarActive p {
    background-color: white;
    color:  #FFDD00;
}

.navItems .calendar {
    background-image: url(../images/active_calendar.svg);
    
}


.title {
    justify-content: start;
    gap: 600px;
}

.nav2 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 24px 0px;
    background-color: white;
}

.formButton {
    color: black;
}

.holder {
    margin-bottom: 24px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.agenda {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 1300px;
    overflow-x: auto;
}

.hour {
    width: 100px;
    border-right: 1px solid #ccc;
    padding: 10px;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.day > h3 {
    width: 150px;
}

.hour-block {
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.assigned_tasks {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.usersgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    width: 1300px;
    gap: 16px;
    overflow-x: auto;
    height: 300px;
}

.users {
    height: calc(20%-16px);
}

.agenda-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


