.homeActive, .homeActive p {
    background-color: white;
    color: #FFDD00;
}

.navItems .home {
    background-image: url(../images/active_home.svg);
    
}

.holder {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 32px;
} 

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    margin-top: 24px;
}

.article {
    width: calc(50% - 33px);
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
}

.homeImg {
    width: 50%;
    background-image: url(../images/Jongen_Holding.webp);
    background-position: center;
    background-repeat: no-repeat;
}

