body {
    display: flex;
    flex-direction: row;
    align-items: center; 
    height: 100vh; 
  
}

.welcome {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 40px;
}

.Big {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Big h1 {
    margin: 0;
}

.BigImg {
    width: 250px;
}

.loginHolder {
   display: flex;
   flex-direction: column;
   gap: 32px;
   margin-left: 32px;
}

.loginInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 350px;
}

.introLogin {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

