.calendarActive, .calendarActive p {
    background-color: white;
    color:  #FFDD00;
}

.navItems .calendar {
    background-image: url(../images/active_calendar.svg);
    
}

.holder {
    overflow-x: auto;
}

.agenda {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.agenda th, .agenda td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: top;
}

.agenda th {
    background-color: #000000;
    color: white;
    font-weight: bold;
}

.agenda .date a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.agenda .date {
    font-weight: bold;
    margin-bottom: 10px;
}

.agenda .event {
    background-color: #28a745;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.agenda-form {
    text-align: center;
    display: flex;
}
