* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

header {
    background-color: black;
    max-width: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 40px;
}

.navItem {
    width: 24px;
    height: 41px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 25px 100px;
    
}

.logo {
    max-width: 130px;
    background-image: url(../images/logo.png);
    background-size: auto;

}

.icon1 {
    background-image: url(../images/active_home.png);
    background-color: white;
    
}

.icon2 {
    background-image: url(../images/not_active_profile.png);
}

.icon3 {
    background-image: url(../images/not_active_calendar.png);
}

.icon4 {
    background-image: url(../images/not_active_settings.png);
}

header a {
    color: white;
    font-size: 16px;
}

.screen {
    width: 100%;
    margin-top: 0px;
    margin-right: 24px;
    margin-left: 32px;
}

h1, h2, h3, p, a, label, input, span {
    font-family: sans-serif;
}

h1 {
    text-transform: uppercase;
}

h2, h3, p {
 
    margin: 0px;
}

h2 {
    font-weight: normal;
}

a.YButton {
    color: black;
    font-weight: bold;
    text-decoration: none;
  
}

.YButton {
    padding: 8px 32px;
    background-color: yellow;
    border-radius: 12px;
    margin-top: 8px;
    
    
}

.editLink {
    display: inline-block; 
}

.formButton {
    border: none;
    padding: 8px 32px;
    border-radius: 12px;
    background-color: yellow;
    font-weight: bold;
}

.formButton2 {
    border: none;
    padding: 8px 32px;
    border-radius: 12px;
    background-color: black;
    font-weight: bold;
    color: white;
}
.title {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 24px;
}

.kruis {
    background-image: url(../images/Kruis.png);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.formHolder {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form input {
    width: 350px;
}

.form select {
    width: 170px;
}