.calendarActive, .calendarActive p {
    background-color: white;
    color:  #FFDD00;
}

.navItems .calendar {
    background-image: url(../images/active_calendar.svg);
    
}

.holder {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 64px;
}


.screen {
    width: 80%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.title {
    background-color: #FFDD00;
    color: white;
    padding: 15px;
    text-align: center;
}
.title h1 {
    margin: 0;
}
.holder {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.left {
    width: 100%;
}
.overflow {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.overflow li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.in-treatment {
    color: blue;
}
.accepted {
    color: green;
}

.overflow form {
    display: inline-block;
    margin-left: 10px;
}
.overflow input[type="text"] {
    padding: 5px;
    margin-right: 5px;
}
.overflow button {
    padding: 5px 10px;
    background-color: #5c5c5c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.overflow button:hover {
    background-color: #000000;
}